body {
    margin: 0;
    padding: 0;
}

main {
    padding: 16px;
}

footer {
    padding-top: 24px;
    padding-right: 0px;
    padding-bottom: 24px;
    padding-left: 0px;
}

h1 {
    color: #3f7e72;
}

img {
    height: 200px;
}

nav {
    background-color: #ff5a34;
    border-bottom: 1px solid black;
    padding: 16px;
}

.entre-link:hover {
    color: blue;
    size: bold;
}

.entre-link {
    color: green;
}

a {
    text-decoration: none;

}

#nav-link {
    color: white;
    font-weight: bold;

}

#nav-link:hover {
    color: blue;
}

footer {
    padding: 25px;
    background-color: #b4cf66;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
}

.entre-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.ingredients tr:nth-child(even){
    background-color: lightgrey;
}
